<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<nav>
    <div class="formBox">
        <form action="/search" method="post">
            <input type="text" name="animeTitle" id="" placeholder="Search Anime Title" required>
            <button type="submit"><img class="search-icon" src="assets\search_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg"
                    alt=""></button>
        </form>
    </div>
    <a href="/" class="btn home">Home</a>
</nav>

<body>