<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="introPage">
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button class="submit">Log in</button>
        </form>
        <a type="button" href="/register">Register</a>
    </div>

    <%- include('./partials/footer') %>